body {
    font-size: 16px;
    background: url('https://images5.alphacoders.com/645/thumb-1920-645987.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.play {
    
}

.board {
    margin: 20px auto;
    border: 10px solid rgb(177, 3, 3);
    width: 620px;
    
}

.cellRow {
    display: flex;
}

.cell {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    
}

.snake {
    /* background-color: black; */
    background-color: rgb(170, 0, 0);
    
}